# Files and directories created by pub
.dart_tool/
.packages

# Conventional directory for build outputs
build/

# Directory created by dartdoc
doc/api/
dart.tolgee.dart-example.iml.env*
web/env.dart
dart.tolgee.dart-example.iml